/* debug */
.debug .container {
  height: 300px;
  border: 1px solid red;
}

.debug .container [class*= "col_"] {
  height: 100%;
  border: 1px solid blue;
}

.debug .container [class*= "col_offset_"] {
  height: 100%;
  border: 1px solid green;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* gestione contenuto */
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col_"] {
  float: left;
}

/* gestione larghezza colonne */
.col_1 {
  width: calc((100% / 12) * 1);
}

.col_2 {
  width: calc((100% / 12) * 2);
}

.col_3 {
  width: calc((100% / 12) * 3);
}

.col_4 {
  width: calc((100% / 12) * 4);
}

.col_5 {
  width: calc((100% / 12) * 5);
}

.col_6 {
  width: calc((100% / 12) * 6);
}

.col_7 {
  width: calc((100% / 12) * 7);
}

.col_8 {
  width: calc((100% / 12) * 8);
}

.col_9 {
  width: calc((100% / 12) * 9);
}

.col_10 {
  width: calc((100% / 12) * 10);
}

.col_11 {
  width: calc((100% / 12) * 11);
}

.col_12 {
  width: calc((100% / 12) * 12);
}

/* gestione offset */
.col_offset_1 {
  margin-left: calc((100% / 12) * 1);
}

.col_offset_2 {
  margin-left: calc((100% / 12) * 2);
}

.col_offset_3 {
  margin-left: calc((100% / 12) * 3);
}

.col_offset_4 {
  margin-left: calc((100% / 12) * 4);
}

.col_offset_5 {
  margin-left: calc((100% / 12) * 5);
}

.col_offset_6 {
  margin-left: calc((100% / 12) * 6);
}

.col_offset_7 {
  margin-left: calc((100% / 12) * 7);
}

.col_offset_8 {
  margin-left: calc((100% / 12) * 8);
}

.col_offset_9 {
  margin-left: calc((100% / 12) * 9);
}

.col_offset_10 {
  margin-left: calc((100% / 12) * 10);
}

.col_offset_11 {
  margin-left: calc((100% / 12) * 11);
}

.col_offset_12 {
  margin-left: calc((100% / 12) * 12);
}
